<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.blogger.BloggerMapper">
    <!--查询全部信息-->
    <select id="getBloggerList" resultType="com.bdqn.pojo.Blogger">
        SELECT * FROM blogger
    </select>
    <!--根据id查询-->
    <select id="getBloggerListById" resultType="com.bdqn.pojo.Blogger">
        SELECT * FROM blogger where bId=#{bId}
    </select>
    <!--根据标题和类别查询-->
    <select id="getBloggerByName" resultType="com.bdqn.pojo.Blogger">
        SELECT * FROM `blogger`where 1=1
        <trim prefix="where" suffixOverrides="and | or">
            <if test="bTitle !=null and bTitle!=''">
                 and bTitle like CONCAT('%',#{bTitle},'%')
            </if>
            <if test="bCreateName !=null and bCreateName!=''">
                 and bCreateName=#{bCreateName};
            </if>
        </trim>
    </select>

    <!--新增-->
    <insert id="addBlogger" parameterType="com.bdqn.pojo.Blogger">
        INSERT INTO `blogger`(bId,bTitle, bCreateName, bPostDate, bContent, bPageView, linkName, fileUploadName)
        VALUES(NULL,#{bTitle},#{bCreateName},#{bPostDate},#{bContent},#{bPageView},#{linkName},#{fileUploadName});
    </insert>
    <!--修改-->
    <update id="updateBlogger" parameterType="com.bdqn.pojo.Blogger">
        UPDATE `blogger`set
        <trim prefix="set" suffixOverrides="," suffix=" where bId=#{bId}">
            <if test="bTitle != null and bTitle != ''"> bTitle=#{bTitle},</if>
            <if test="bCreateName!= null and bCreateName != ''"> bCreateName=#{bCreateName},</if>
            <if test="bPostDate != null and bPostDate != ''"> bPostDate=#{bPostDate},</if>
            <if test="bContent != null and bContent != ''"> bContent=#{bContent},</if>
            <if test="bPageView != null and bPageView != ''"> bPageView=#{bPageView},</if>
            <if test="linkName != null and linkName != ''"> linkName=#{linkName},</if>
            <if test="fileUploadName != null and fileUploadName != ''"> fileUploadName=#{fileUploadName},</if>
        </trim>
    </update>
    <!--删除-->
    <delete id="delBlogger" parameterType="Integer">
            DELETE FROM `blogger` WHERE `bId`=#{bId}
    </delete>

    <update id="updatefileUploadName">
        UPDATE `blogger`set `blogger`.fileUploadName=#{fileUploadName} where `blogger`.bId = #{id}
    </update>
</mapper>