<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.blogger.BloggerMapper">
    <!--查询全部信息-->
    <select id="getBloggerList" resultType="com.bdqn.pojo.Blogger">
        SELECT * FROM blogger AS b
        INNER JOIN bloggerType AS bt ON b.bTypeId=bt.bTypeId
        INNER JOIN link AS l ON b.linkid=l.linkid
        INNER JOIN fileUpload AS f ON b.fileUploadId=f.fileUploadId
    </select>

    <select id="getBloggerByName" resultType="com.bdqn.pojo.Blogger">
SELECT * FROM `blogger` where bTitle=#{bTitle};
    </select>

    <insert id="addBlogger" parameterType="com.bdqn.pojo.Blogger">
INSERT INTO `blogger`(bId,bTypeId,bPostDate,bTitle,bContent,bCommenterName,bCommentContent,bCommenterCount,bPageView,linkid,fileUploadId)
VALUES(NULL,#{bTypeId},#{bPostDate},#{bTitle},#{bContent},#{bCommenterName},#{bCommentContent},#{bCommenterCount},#{bPageView},#{linkid},#{fileUploadId});
    </insert>

    <update id="updateBlogger" parameterType="com.bdqn.pojo.Blogger">
        UPDATE `blogger`
        <trim prefix="set" suffixOverrides="," suffix=" where bId=#{bId}">
            <if test="bTypeId">proCode=#{bTypeId},</if>
            <if test="bPostDate">proName=#{bPostDate},</if>
            <if test="bTitle">proDesc=#{bTitle},</if>
            <if test="bContent">proContact=#{bContent},</if>
            <if test="bCommenterName">proPhone=#{bCommenterName},</if>
            <if test="bCommentContent">proAddress=#{bCommentContent},</if>
            <if test="bCommenterCount">proFax=#{bCommenterCount},</if>
            <if test="bPageView">createdBy=#{bPageView},</if>
            <if test="linkid">creationDate=#{linkid},</if>
            <if test="fileUploadId">modifyDate=#{fileUploadId},</if>
        </trim>
    </update>

    <delete id="delBlogger" parameterType="Integer">
DELETE FROM `blogger` WHERE `bId`=#{bId}
    </delete>
</mapper>