#phonecheckImg {
	width: 200px;
	height: 60px;
	background: url(/statics/img/phonecheck_03.jpg) no-repeat;
	background-size: 100% 100%;
	border: 1px solid black;
	display: inline-block;
	margin-left: 125px;
}


.czin {
	height: 90px;
	padding: 5px;
}

.czin #czintitle {
	width: 20%;
	float: left;
}

.czin h3 {
	font-size: 30px;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}
 #userForm table{
	margin-left: 25px;
}

#checkpicture {
	display: block;
}

.inputcheck {
	width: 200px;
	height: 30px;
line-height: 30px;
margin-top: 20px;
margin-left: 10px;

}

#userForm input[value="修改"],
input[value="重置"] {
	font-size: 20px;
	border-radius: 5px;
	margin-left: 70px;
	width: 60px;
	height: 40px;
}


/*背景层*/

#popLayer {
	width: 100%;
	height: 100%;
	display: none;
	background-color: whitesmoke;
	filter: alpha(opacity:50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
}


/*弹出层*/

#popBox {
	height: 460px;
	width: 400px;
	display: none;
	z-index: 11;
	font-size: 18px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;

}

#popBox .close input[value="关闭"] {
	position: absolute;
	background: #009688;
	right: 5px;
	top: 5px;
	height: 25px;
	border: 0;
	font-size: 20px;
	margin-right: 5px;
	color: white;
}