#ywUlsystem{
	list-style-type:none;
	text-align:center;
}
#ywlisystem{
	float: left;
}
#ywImgsystem{
	width: 200px;height: 300px;padding:10px
}
.myspanOnesystem{
	font-size: 25px;
}
.myspanTwosystem{
	font-size: 25px;
}
#ywImgTwosystem{
	width: 200px;height: 300px;padding:10px
}
#myDivsystem{
	position: absolute;
	float: left;
	margin-top:400px;
}
.myspansystem{
	font-family: 楷体;
	font-weight:bold ;
}
