#ywUlsystem{
	list-style-type:none;
	text-align:center;
}
.ywlisystem{
	float: left;
}
#ywImgsystem{
	width: 200px;height: 300px;padding:10px
}
.myspanOnesystem{
	font-size: 13px;
}
.myspanTwosystem{
	font-size: 13px;
}
#ywImgTwosystem{
	width: 200px;height: 300px;padding:10px
}
#myDivsystem{
	position: absolute;
	float: left;
	margin-top:400px;
}
.myspansystem{
	font-family: 楷体;
	font-weight:bold ;
}
#fileDIVYW{
    position: absolute;
    float: left;
    margin-left: 500px;
    margin-top:50px;
}