<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.bloggerType.BloggerTypeMapper">
    <!--查询全部信息-->
    <select id="getBloggerTypeList" resultType="com.bdqn.pojo.BloggerType">
        SELECT * FROM bloggertype;
        <!--<trim suffix="where" suffixOverrides="and | or">
    <if test="">
    </if>
</trim>-->
    </select>

 <!--   <select id="getBloggerTypeByName" resultType="com.bdqn.pojo.BloggerType">

    </select>

    <insert id="addBloggerType" parameterType="com.bdqn.pojo.BloggerType">

    </insert>

    <update id="updateBloggerType" parameterType="com.bdqn.pojo.BloggerType">

    </update>

    <delete id="delBloggerType" parameterType="Integer">

    </delete>-->
</mapper>
